@model Pelikan_strona.Models.Szkoda

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Szkoda</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UmowaUbezpieczeniowa.User_Pesel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UmowaUbezpieczeniowa.User_Pesel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataZgłoszenia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataZgłoszenia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KwotaSzkody)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KwotaSzkody)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Opis)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Opis)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
