@model Pelikan_strona.Models.UmowaUbezpieczeniowa

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>UmowaUbezpieczeniowa</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User_Pesel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User_Pesel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NaŻycie.NaŻycieId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NaŻycie.NaŻycieId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Czl_Pesel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Czl_Pesel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CzlonekRodziny.Czl_Pesel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CzlonekRodziny.Czl_Pesel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Turystyczne.TurystyczneId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Turystyczne.TurystyczneId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OdziałAgencji.Miasto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OdziałAgencji.Miasto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataZawarcia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataZawarcia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataZakończenia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataZakończenia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Płatność)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Płatność)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
