@model Pelikan_strona.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Imie)
                @Html.TextBoxFor(m => m.Imie)
            </li>
            <li>
                @Html.LabelFor(m => m.Nazwisko)
                @Html.TextBoxFor(m => m.Nazwisko)
           </li>
            <li>
                @Html.LabelFor(m => m.Pesel)
                @Html.TextBoxFor(m => m.Pesel)
           </li>
            <li>
                @Html.LabelFor(m => m.Miasto)
                @Html.TextBoxFor(m => m.Miasto)
            </li>
            <li>
                @Html.LabelFor(m => m.KodPocztowy)
                @Html.TextBoxFor(m => m.KodPocztowy)
           </li>
            <li>
                @Html.LabelFor(m => m.Ulica)
                @Html.TextBoxFor(m => m.Ulica)
           </li>
            <li>
                @Html.LabelFor(m => m.NrDomu)
                @Html.TextBoxFor(m => m.NrDomu)
            </li>
            <li>
                @Html.LabelFor(m => m.NrMieszkania)
                @Html.TextBoxFor(m => m.NrMieszkania)
            </li>
            <li>
                @Html.LabelFor(m => m.DataUrodzenia)
                @Html.TextBoxFor(m => m.DataUrodzenia)
            </li>
            <li>
                @Html.LabelFor(m => m.EmailKlienta)
                @Html.TextBoxFor(m => m.EmailKlienta)
            </li>
           
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
