@model IEnumerable<Pelikan_strona.Models.UmowaUbezpieczeniowa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj Nową", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pesel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Szkoda.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OdziałAgencji.Miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NaŻycie.NaŻycieId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turystyczne.TurystyczneId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataZawarcia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataZakończenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KwotaUbezpieczenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KwotaSkładki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Płatność)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pesel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Szkoda.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OdziałAgencji.Miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NaŻycie.NaŻycieId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turystyczne.TurystyczneId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataZawarcia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataZakończenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KwotaUbezpieczenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KwotaSkładki)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Płatność)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.UmowaId }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.UmowaId }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.UmowaId })
        </td>
    </tr>
}

</table>
