@model Pelikan_strona.Models.Turystyczne

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Turystyczne</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IloscOsob)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IloscOsob)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IloscOsob18)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IloscOsob18)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IloscOsobAvg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IloscOsobAvg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IloscOsob70)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IloscOsob70)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WyjazdDo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WyjazdDo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WariantPolisy.NazwaWariantu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WariantPolisy.NazwaWariantu)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
